In [1]:
print('Hello from Jupyter')

Hello from Jupyter

In [2]:
my_str = 'Hello'
my_int = 16

print(my_str)
print(my_int)

Hello
16

In [3]:
my_str

'Hello'

In [4]:
number_of_apples = 5

if number_of_apples < 1:
    print('You have no apples')
elif number_of_apples == 1:
    print('You have one apple')
elif number_of_apples < 4:
    print('You have a few apples')
else:
    print('You have many apples!')

You have many apples!

In [5]:
student_names = ['Mahmoud', 'Emad', 'Ahmed', 'Mostafa']
student_names[0]

'Mahmoud'

In [6]:
student_names[2:]

['Ahmed', 'Mostafa']

In [7]:
student_names.append('Ali')
student_names

student_names.insert(0, 'Khaled')
student_names

['Khaled', 'Mahmoud', 'Emad', 'Ahmed', 'Mostafa', 'Ali']

In [8]:
del student_names[2]
student_names

['Khaled', 'Mahmoud', 'Ahmed', 'Mostafa', 'Ali']

In [9]:
for item in student_names:
    print('Hello ' + item + '!')

Hello Khaled!
Hello Mahmoud!
Hello Ahmed!
Hello Mostafa!
Hello Ali!

In [10]:
long_names = []
for item in student_names:
    # This is our criterion
    if len(item) > 4:
        long_names.append(item)

long_names

['Khaled', 'Mahmoud', 'Ahmed', 'Mostafa']

In [11]:
student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        student_pairs.append(
            (student_name_0, student_name_1)
        )

student_pairs

[('Khaled', 'Khaled'),
 ('Khaled', 'Mahmoud'),
 ('Khaled', 'Ahmed'),
 ('Khaled', 'Mostafa'),
 ('Khaled', 'Ali'),
 ('Mahmoud', 'Khaled'),
 ('Mahmoud', 'Mahmoud'),
 ('Mahmoud', 'Ahmed'),
 ('Mahmoud', 'Mostafa'),
 ('Mahmoud', 'Ali'),
 ('Ahmed', 'Khaled'),
 ('Ahmed', 'Mahmoud'),
 ('Ahmed', 'Ahmed'),
 ('Ahmed', 'Mostafa'),
 ('Ahmed', 'Ali'),
 ('Mostafa', 'Khaled'),
 ('Mostafa', 'Mahmoud'),
 ('Mostafa', 'Ahmed'),
 ('Mostafa', 'Mostafa'),
 ('Mostafa', 'Ali'),
 ('Ali', 'Khaled'),
 ('Ali', 'Mahmoud'),
 ('Ali', 'Ahmed'),
 ('Ali', 'Mostafa'),
 ('Ali', 'Ali')]

In [12]:
student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        # This is the criterion we added
        if student_name_0 != student_name_1:
            student_pairs.append(
                (student_name_0, student_name_1)
            )

student_pairs

[('Khaled', 'Mahmoud'),
 ('Khaled', 'Ahmed'),
 ('Khaled', 'Mostafa'),
 ('Khaled', 'Ali'),
 ('Mahmoud', 'Khaled'),
 ('Mahmoud', 'Ahmed'),
 ('Mahmoud', 'Mostafa'),
 ('Mahmoud', 'Ali'),
 ('Ahmed', 'Khaled'),
 ('Ahmed', 'Mahmoud'),
 ('Ahmed', 'Mostafa'),
 ('Ahmed', 'Ali'),
 ('Mostafa', 'Khaled'),
 ('Mostafa', 'Mahmoud'),
 ('Mostafa', 'Ahmed'),
 ('Mostafa', 'Ali'),
 ('Ali', 'Khaled'),
 ('Ali', 'Mahmoud'),
 ('Ali', 'Ahmed'),
 ('Ali', 'Mostafa')]

In [16]:
foreign_languages = {
    'Mahmoud': 'Spanish',
    'Emad': 'French',
    'Ali': 'Italian',
    'Hesham': 'Italian',
}
foreign_languages['Emad']

'French'

In [17]:
'Ahmed' in foreign_languages

False

In [18]:
'Ali' in foreign_languages

True

In [19]:
foreign_languages['Ahmed'] = 'French'
foreign_languages

{'Mahmoud': 'Spanish',
 'Emad': 'French',
 'Ali': 'Italian',
 'Hesham': 'Italian',
 'Ahmed': 'French'}

In [21]:
del foreign_languages['Ali']
foreign_languages

{'Mahmoud': 'Spanish',
 'Emad': 'French',
 'Hesham': 'Italian',
 'Ahmed': 'French'}

In [22]:
foreign_languages['Emad'] = 'Italian'
foreign_languages

{'Mahmoud': 'Spanish',
 'Emad': 'Italian',
 'Hesham': 'Italian',
 'Ahmed': 'French'}

In [23]:
for key in foreign_languages:
    value = foreign_languages[key]
    print(key, 'is taking', value)

Mahmoud is taking Spanish
Emad is taking Italian
Hesham is taking Italian
Ahmed is taking French

In [24]:
for key, value in foreign_languages.items():
    print(key, 'is taking', value)

Mahmoud is taking Spanish
Emad is taking Italian
Hesham is taking Italian
Ahmed is taking French

In [25]:
record = {
    'name': 'Mahmoud',
    'subject': 'Spanish',
    'grade': 'A',
}
print(record['name'],
      'got a grade of', record['grade'],
      'in', record['subject'])

Mahmoud got a grade of A in Spanish

In [26]:
student_grades = [
    ('Mahmoud', 'Spanish', 'A'),
    ('Ali', 'French', 'C'),
    ('Ahmed', 'Italian', 'B+'),
    ('Emad', 'Italian', 'A-'),
]
student_grades[1]

('Ali', 'French', 'C')

In [33]:
student_grade_records = []
for student_name, subject, grade in student_grades:
    record = {
        'name': student_name,
        'subject': subject,
        'grade': grade,
    }
    student_grade_records.append(record)
    
student_grade_records

[{'name': 'Mahmoud', 'subject': 'Spanish', 'grade': 'A'},
 {'name': 'Ali', 'subject': 'French', 'grade': 'C'},
 {'name': 'Ahmed', 'subject': 'Italian', 'grade': 'B+'},
 {'name': 'Emad', 'subject': 'Italian', 'grade': 'A-'}]

In [34]:
student_grade_records[1]

{'name': 'Ali', 'subject': 'French', 'grade': 'C'}

In [35]:
foreign_language_grades = {}
for student_name, subject, grade in student_grades:
    record = {
        'subject': subject,
        'grade': grade,
    }
    foreign_language_grades[student_name] = record
    
foreign_language_grades

{'Mahmoud': {'subject': 'Spanish', 'grade': 'A'},
 'Ali': {'subject': 'French', 'grade': 'C'},
 'Ahmed': {'subject': 'Italian', 'grade': 'B+'},
 'Emad': {'subject': 'Italian', 'grade': 'A-'}}

In [36]:
foreign_language_grades['Mahmoud']

{'subject': 'Spanish', 'grade': 'A'}

In [37]:
foreign_language_grades['Mahmoud']['grade']

'A'

In [38]:
student_course_grades = {}
for student_name, subject, grade in student_grades:
    student_course_grades[student_name, subject] = grade
    
student_course_grades

{('Mahmoud', 'Spanish'): 'A',
 ('Ali', 'French'): 'C',
 ('Ahmed', 'Italian'): 'B+',
 ('Emad', 'Italian'): 'A-'}

In [39]:
student_course_grades['Mahmoud', 'Math'] = 'A'
student_course_grades['Emad', 'History'] = 'B'
student_course_grades

{('Mahmoud', 'Spanish'): 'A',
 ('Ali', 'French'): 'C',
 ('Ahmed', 'Italian'): 'B+',
 ('Emad', 'Italian'): 'A-',
 ('Mahmoud', 'Math'): 'A',
 ('Emad', 'History'): 'B'}

In [40]:
student_report_cards = {}
for student_name, subject, grade in student_grades:
    # If there is no report card for a student,
    # we need to create a blank one
    if student_name not in student_report_cards:
        student_report_cards[student_name] = {}
    student_report_cards[student_name][subject] = grade
student_report_cards

{'Mahmoud': {'Spanish': 'A'},
 'Ali': {'French': 'C'},
 'Ahmed': {'Italian': 'B+'},
 'Emad': {'Italian': 'A-'}}

In [41]:
student_report_cards['Ali']['Math'] = 'A'
student_report_cards['Ali']['History'] = 'B'
student_report_cards

{'Mahmoud': {'Spanish': 'A'},
 'Ali': {'French': 'C', 'Math': 'A', 'History': 'B'},
 'Ahmed': {'Italian': 'B+'},
 'Emad': {'Italian': 'A-'}}

In [42]:
student_report_cards['Ali']

{'French': 'C', 'Math': 'A', 'History': 'B'}